*.log
.DS_Store
Thumbs.db

.env
.env.*
!.env.example

/deploy
/.env.production.example

/vendor
/node_modules

/database/database.sqlite

/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/*.key
/storage/pail

/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage

/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

/auth.json
.phpactor.json
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
